// Mixins
// title and page style
@mixin titleStyle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: 50px;
    font-family: $bodyFont;
    color: $redColor;
  }
}
// button style
@mixin buttonStyle {
  background-color: $greenColor;
  border: none;
  color: $whiteColor;
  padding: 15px 32px;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 25px;
}
// image style
@mixin imgStyle($width, $height) {
  width: $width + px;
  height: $height + px;
  margin: 50px;
  border-radius: 25px;
  padding: 10px;
  transition: 0.5s;
  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}
// about page btn
@mixin btn ($bg-color: rgb(100, 156, 228)){
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 15px 32px;
  border-radius: 50px;
  background-color: $bg-color;
}
